# Arquivos de usuário e de build do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas de build
[Bb]in/
[Oo]bj/

#pastas
backup_20250822_003220

# Arquivos gerados pelo VS Code
.vscode/